@import 'https://fonts.googleapis.com/css?family=Lato:400,700';

*, ::before, ::after{
    margin:0;
    padding:0;
    box-sizing: border-box;
    /* border:1px solid purple; */
}

a{
    text-decoration: none;
    color:inherit;
}

html {
    font-size:62.5%;
}

body {
    background:#eee;
    font-family: Lato, sans-serif;
}

header {
    min-height: 7.5rem;;
    display: flex;   
    justify-content: space-around;
    align-items: center;
    padding: 0 2rem;
}

.logo {
    flex-basis:60%;
    margin-left: 2rem;
}

#header-img {
    max-width:300px;
    height:100%;
    vertical-align: bottom;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}

nav {
    flex-basis:40%;
}

.nav-links{
    width:100%;
    display: flex;
    list-style: none;
    font-size:1.6rem;
    justify-content: space-around;
    align-items: center;
}

.nav-link {
    display: block;
    padding:1rem;
}

#hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0;
}

#hero h2 {
    font-size:2.4rem;
    margin-bottom:1.5rem;
}

#form{
    width:50%;
    max-width: 500px;
    margin:0 auto;
}

#form > input {
    width:300px;
    display: block;
    margin:0 auto;   
    height:3rem;
    margin-bottom:1.5rem;
    font-size:1.4rem;
    padding:0.5rem;
    border:1px solid rgba(80,80, 80, 0.3)
}

#form > button {
    width:150px;
    display: block;
    margin:0 auto; 
    text-transform: uppercase;
    background-color: rgb(238, 205, 23);
    padding:1rem;
    font-size:1.5rem;
    font-weight: bold;
    border:none;

}

